<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>
<footer style="display: flex; justify-content: center; background-color: black;margin: 0px;position: absolute;bottom: 0;
width: 100%;padding: 5px;">
    <h2>
        <span style="color: antiquewhite;">Copyrigth Norban S.A</span>
    </h2>
</footer>
</body>
</html>