<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

<section style="padding: 30px 10px; background-color: darkslategray;" id="hero">
    <div class="hero-content" style="color: antiquewhite;">
        <h1 style="display: flex; justify-content: center;font-size: 60px;">Bienvenido a My Blog</h1>
        <p style="font-size: 20px;display: flex;justify-content: center;">Explora nuestras últimas publicaciones y noticias.</p>
        <!-- Agrega botones u otros elementos relevantes aquí -->
    </div>
</section>

<section id="publicacion-principal">
    <div class="container">
        <h2>Publicación Destacada</h2>
        <div class="publicacion">
            <!-- Aquí muestra la publicación principal -->
            <h3></h3>
            <p></p>
            <!-- Agrega otros detalles de la publicación principal aquí -->
        </div>
    </div>
</section>
    <!-- Formulario para crear publicaciones -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center py-3">Lista de Publicaciones</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    
                    
                </main>
            </div>
        </div>
    </div>




<script src="/js/home-usuario.js"></script>

<%-include('partials/footer')  %>